@charset 'utf-8';

body {
    font-family: '맑은 고딕';
    font-size: 12px;
}

input {
    font-size: 12px;
}

button {
    cursor: pointer;
    font-size: 12px;
    color: #212121;
}

a {
    font-size: 12px;
}

table td {
    padding: 5px 10px;
}